<!-- <p>home works!</p> -->
<div class="bgContainer">
<img  class ="bgImg" src="../assets/images/bg.jpg">
    
    <div class="mainContainer">
        <div class="headers">
            <h2 class="header text">Weather Finder</h2>
            <span class="secondaryText text"><i>Your one stop application for all things weather!</i> </span>

        </div>

        <div class="inputs">
            <span class="infoText text">Enter a city in the field below, click on the button and lets go!</span>
            <br>
            <input type="text" (change)="cityNameMethod()" [(ngModel)]="cityName"  placeholder="Enter city name" id="city" class="cityInput">
            <div *ngIf="cityNameBool" class="button">
                <a class= "link" routerLink="/weather"> Go ᐅ</a>
            </div>
            

        </div>
    </div>
    

</div>
<router-outlet></router-outlet>
